$font:'Merriweather', serif
.tour
    max-width: 1200px
    margin: 0px auto
.tour_container
    display: flex
    justify-content: space-around
.tour_card
    width: 252px
    height:351px
    padding-top: 36.5px
    padding-bottom: 29px
    border-radius: 10.5px
    border: 1px solid rgb(189, 189, 189)
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px
    position: sticky
    top: 30px
.tour_card_container
    width: 240px
    margin: auto
.tour_card_price h3
    color: rgb(66, 66, 66)
    font-family: Merriweather
    font-size: 18px
    font-weight: 400
    text-align: center
    min-height: 22px
    margin:0
.tour_card_price p
    color: rgb(66, 66, 66)
    font-family: Merriweather
    font-size: 12px
    font-weight: 400
    margin-left: 5px
    min-height: 14px
.tour_card_inputs
    margin-top: 35px
    margin-left: 15px
.tour_card_inputs input
    text-align: center
    width: 204px
    height: 40px
    border-radius: 4.5px
    border-style: solid
    border-width: 1px
    border-color: rgb(189, 189, 189)
    background-color: rgb(255, 255, 255)
    color: rgb(0, 0, 0)
    font-size: 16px
    font-weight: 400
    margin-bottom: 20px
    font-family: Merriweather
.tour_card_inputs select
    text-align: center
    width: 207px
    height: 40px
    border-radius: 4.5px
    border-style: solid
    border-width: 1px
    border-color: rgb(189, 189, 189)
    background-color: rgb(255, 255, 255)
    color: rgb(0, 0, 0)
    font-size: 16px
    font-weight: 400
    font-family: Merriweather
.tour_card_tourmate
    display: flex
    align-items: center
    margin:10px 20px
.tour_card_tourmate img
    width: 60px
    height: 60px
    border-radius: 50%
    object-fit: cover
.tour_card_tourmate_text
    margin-left: 7px
.tour_card_tourmate_text h4
    margin: 0
    color: rgb(66, 66, 66)
    font-family: Merriweather
    font-size: 15px
    font-weight: 700
    min-height: 18px
.tour_card_tourmate_text p
    color: rgb(66, 66, 66)
    font-family: Merriweather
    font-size: 9px
    font-weight: 400
    min-height: 11px
.tour_tourmate_images
    width: 750px
    &_top img
        margin-left: 5px
        width: 370px
        height: 219px
    &_bottom img
        width: 245px
        margin-left: 5px
        height: 138px
.tour_tourmate_text h2
    margin-top: 0
    color: rgb(66, 66, 66)
    font-family: Merriweather
    font-size: 20px
    font-weight: 700
    min-height: 24px
.tour_text
    width: 720px
    height: 198px
    margin-left: auto
    margin-top: 40px
.tour_text p
    color: rgb(66, 66, 66)
    font-family: Merriweather
    font-size: 14px
    font-weight: 400
    min-height: 17px

.Tour__map_title
    color: rgb(66, 66, 66)
    font-family: Merriweather
    font-size: 20px
    font-weight: 700
    min-height: 24px
    text-align: left

.tour_good_to_know 
    margin-bottom: 30px
    & h3 
        color: rgb(66, 66, 66)
        font-family: Merriweather
        font-size: 20px
        font-weight: 700
        margin: 0
    &_subtitle 
        padding: 10px 0
        margin-left: 30px
    &_yes
        background: url("../../assets/images/yes.png") no-repeat 0 50%
        background-size: 17px
        padding: 10px 0
        padding-left: 33px
    &_no
        background: url("../../assets/images/multiply.png") no-repeat  0 50%
        background-size: 17px
        padding: 10px 0
        padding-left: 33px