.travella_title {
    color: rgb(90, 90, 87);
    margin-left: 5%;
    margin-bottom: 2%;
}
.travella_container{
    display: flex;
    justify-content: space-around;
}
.travella_img{
    width: 160px;
    height: 210px;
}
.travella_info{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 210px;
    background-color: #e9e1e1;
    width: 75%;
}
.trav_info_text{
    width: 33%;
}
.text{
    position: relative;
    bottom: 78%;
    left: 10%;
    font-style: 18px;
    font-weight: bold;
    color: rgb(85, 81, 81);;
    
}