.DirectionInfo
    max-width: 1250px
    margin: 0 auto
    &_container
        margin: 50px 0
    &_title
        color: rgb(66, 66, 66)
        font-family: Merriweather
        font-size: 32px
        font-weight: 700
        min-height: 38px
        text-align: left
        margin: 30px 0
    &_list
        display: flex
        padding: 0 40px

.react-multiple-carousel__arrow--right 
    right: calc(-1% + 1px)

.react-multiple-carousel__arrow--left 
    left: calc(-1% + 6px)

.react-multiple-carousel__arrow, .react-multiple-carousel__arrow:hover 
    background: transparent

.react-multiple-carousel__arrow::before 
    color: #000