.tourmate_title{
    color: rgb(90, 90, 87);
    position: absolute;
    top: 40%;
    left: 5%;
}

.tourmate_card{
    position: absolute;
    height: 315px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 9%;
    margin-top: 20%;
}

.tourmate_card_img{
    width: 260px;
    height: 350px;
    border-radius: 15px;
    filter: brightness(60%);

}
.title_travel{
    color: rgb(194, 194, 181);
    font-size: 15px;
    position: relative;
    top: 75%;
    right: 14%;
    font-weight: bold;
    
  
}
.text_travel{
    color: rgb(194, 194, 181);
    font-size: 15px;
    position: relative;
    top: 87%;
    right: 17%;
  
}
